<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {%- if page.title -%}  
  <title>{{ site.title }} — {{ page.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {%- endif -%}
    
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}

  {%- include custom-head.html -%}
  
</head>